h1 {
    text-align: center;
}

.header-current {
    padding: 1ch;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-past {
    padding: 1ch;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mri-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mri-text {
    padding: 1%;
}

.cutter-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cutter {
    height: auto;
    width: 256px;
}

.cutter-text {
    padding: 1%;
}

.about-image {
    text-align: center;
}