header {
    display: flex;
    flex-direction: row;
    font-size: 2em;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    background-color: white;
}
.name {
    color: black;
}
.links {
    display: flex;
    justify-content: right;
    color: black;
    flex-grow: 3;
}
.media-link {
    display: flex;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;   
    height: 32px;
}
body {
    display: flex;
    flex-direction: column;
    background-color: rgba(22, 10, 104, 0.786);
    color: white;
    min-height: 100vh;
}
main {
    padding-top: 24px;
    padding-right: 12px;
    padding-bottom: 24px;
    padding-left: 12px;
}
footer {
    display: flex;
    background-color: white;   
    justify-content: center;
    margin-top: auto;
}
.media-link {
    justify-content: center;
}
.quote {
    display: flex;
    color: red;
    justify-content: center;
    margin-top: 4em;
}