@import url('https://fonts.googleapis.com/css2?family=Asar&family=Bungee+Spice&family=Roboto:wght@100&display=swap');

header {
    display: flex;
    flex-direction: row;
    font-size: 2em;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    background-color: white;
}

.links {
    flex-grow: 3;
    text-align: end;
    text-decoration: none;
}

.direct-link {
    text-decoration: none;
    color: blue;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #7d94b5;
    color: black;
    min-height: 100vh;
    margin: 0;
}

.main-footer {
    display: flex;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;   
    justify-content: center;
    background-color: white;
    margin-top: auto;
}

.media-link {
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    height: 32px;
    justify-content: center;
}
